.table{
	margin: 0 auto 0;
	max-width: 1200px;
	width: 100%;
}

.row{
	display: flex;
}

.col {
	width : 5.55%;
	min-width: 45px;
	border-left:1px solid black;
	border-right:1px solid black;
}

.col-1{
	width : 5.55%;
	min-width: 45px;
	border:1px solid black;
}

.col-10{
	width : 57%;
	min-width: 468px;
	border-left:1px solid black;
	border-right:1px solid black;
}

.col-16{
	width : 91%;
	min-width: 750px;
	border-left:1px solid black;
	border-right:1px solid black;
}

.name{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	height: 0;
	padding: 0;
}

.weight{
	text-align: center;
}

.number{
	text-align: left;
	height: 0;
	margin: 0;
	padding: 0;
}

.side{
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 10%;
}

.img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	padding-top: 0;
}

#noblegas{background : #960CE8;}
#alkali{background : #36FF80;}
#alkaline{background : #0CC8E8;}
#metalloid{background : #0020FF;}
#nonmetal{background : #FF3E35;}
#halogen{background : #FF356F;}
#trans{background : #E9FF7B;}
#basic{background : #8FE848;}
#lanthanide{background : #E886DE;}
#actinide{background : #E85AD4;}
h1 {text-align: center; padding-bottom: 0;}
