.table{
	margin: 0 auto 0;
	max-width: 1200px;
	width: 100%;
}

.row{
	display: flex;
}

.col {
	width : 5.55%;
	/*min-width: 45px;*/
	border:1px solid black;
}

.col-1{
	width : 5.55%;
	/*min-width: 45px;*/
	border:1px solid black;
}

.col-10{
	width : 57%;
	/*min-width: 468px;*/
	border-left:1px solid black;
	border-right:1px solid black;
}

.col-16{
	width : 91%;
	/*min-width: 750px;*/
	border-left:1px solid black;
	border-right:1px solid black;
}

.name{
	text-align: center;
	font-weight: bold;
	font-size: 3vmin;
	height: 0;
	margin-bottom: 38px;
}

.weight{
	text-align: right;
	font-size: 1vmin;
	height: 0;
	margin: 0;
	padding: 0;
}

.number{
	text-align: left;
	height:0;
	font-size: 1vmin;
}

.side{
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 10%;
}

.img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-top: 0;
}

.types{
	display: block;
}
.rect{
	margin-right: .5%;
	display: inline-block;
	border:1px solid black;
	width:108px;
}

#noblegas{background : #960CE8;}
#alkali{background : #36FF80;}
#alkaline{background : #0CC8E8;}
#metalloid{background : #0020FF;}
#nonmetal{background : #FF3E35;}
#halogen{background : #FF356F;}
#trans{background : #E9FF7B;}
#basic{background : #8FE848;}
#lanthanide{background : #E886DE;}
#actinide{background : #E85AD4;}
#empt{text-align: center; font-size: 2vmin; margin-top: 45%;}
h1 {text-align: center; padding-bottom: 0;}
