/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: spalmaro <spalmaro@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2017/03/26 18:32:19 by spalmaro          #+#    #+#             */
/*   Updated: 2017/03/26 18:58:31 by spalmaro         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

*{
	background-color: #505050;
}
.header{
	background: #909090;
	align: center;
	display: flex;
	width: 80%;
}

.reload{
	background: #909090;
}
